#navbar {
    height: 60px;
    background-color: #005984;
    vertical-align: middle;
    text-align: center;
}

#finder {
    padding-top:40px;
    width: 600px;
}

#logo {
    align-content: left;
}

#DE_logo {
    width: 80px;
}

#custom-container {
    width: 30%;
}